DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/accounting
DEBUG=0
SECRET_KEY=secret-key
YOOKASSA_SHOP_ID=123
YOOKASSA_SECRET_KEY=yookassa-secret-key
YOOKASSA_RETURN_URL=https://example.com
SUBSCRIPTION_PRICE=1000.00