DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/accounting
TEST_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/test_db
DEBUG=0
SECRET_KEY=secret-key
DUMMY_HASH=dummy-hash

YOOKASSA_SHOP_ID=123
YOOKASSA_SECRET_KEY=yookassa-secret-key
YOOKASSA_RETURN_URL=https://example.com
